<h1><%= @heading %></h1>
<% @singers.each do |s| %>
    <div><%= link_to s.name, singer_path(s) %></div>
<% end %>

<% if @heading == "All Singers" %>
    <%= link_to "Show Active Singers", singers_path %>
<% else %> 
    <%= link_to "Show All Singers", singers_path(q: "all") %>
<% end %>